*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}
.mainpage{
    padding: 30px ;
}
/* nav1 */
.nav1{
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    margin-left: 20px;
    gap: 20px;
}
.logo-main{
    display: flex;
}
.logo-main>i{
    font-size: 30;
}
h6{
    color: rgb(139, 135, 135);
}
.searchbar{
    display: flex;
    /* margin-left: 200px; */
    /* gap: 10px; */
}
.searchbar> input{
    height: 40px;
    width: 600px;
    font-size: x-large;
    border: 1px solid gray;
    border-radius:20px;
    color: gray;

}
.searchbar> input::placeholder{
    padding-left: 30px;
}
.searchbar>i{
    font-size: 20px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
}
.searchbar>i:hover{
    /* height: 50px;
    width: 50px; */
    border-radius: 50%;
    background-color: rgb(219, 216, 216);
}
.othericons{
    display: flex;
    margin-left: 200px;
    gap: 50px;
}
.othericons>:nth-child(3){
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: brown;
    color: white;
    text-align: center;
    padding: 5px;
}
.body{
    display: flex;
    padding-top: 30px;

}
.sidebar{
    height: 400px;
    width: 20%;
    padding: 0px 30px;
}
.home{
    height: 40px;
    width: 200px;
    background-color: lightgray;
    border-radius: 10px;
}
.sidebar>div{
    font-size: large;
}
.sidebar>div:hover{
    background-color:lightgray;
    height:40px;
    width:200px;
    border-radius: 10px;
}
p{
    padding: 10px;
    margin-left: 50px;
}
hr{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 210px;
}
.display{
    height: 400px;
    width: 80%;
    background-color: gray;
}

